* {
	margin-bottom: 5px;
}

body {
	background-color: rgb(237, 238, 239);
}

.text, .nameLink {
	font-family: proxima-nova, 'Helvetica Neue', Arial, Helvetica, sans-serif;
	width: 640px;
	font-size: 14px;
	line-height: 20px;
}

.nameLink {
	-webkit-tap-highlight-color: rgba(63, 114, 155, 0.298039);
	color: rgb(63, 114, 155);
	cursor: auto;
	font-weight: bold;
	height: 20px;
	text-decoration: none;
}

.text {
	color: rgb(34, 34, 34);
	height: auto;
	width: auto;
}

.instagram-post {
	word-wrap: break-word;
	padding: 10px;
}

.thumbnail {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}