<!DOCTYPE html>
<html>
<head>
	<script src="angular.js"></script>
	<script src="app.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="app.css">
</head>
<body>
	<div class="container" ng-app="SocialFeeds" ng-controller="InstagramCtrl">
		<button class="btn btn-primary btn-block" ng-click="loadNewPosts()" 
						ng-show="new_count">
			{{ new_count }} new posts
		</button>
		<div ng-repeat="pic in pics track by $index" class="instagram-post">
			<div class="row">
				<a href="{{ pic.link }}" class="col-md-6 col-md-offset-3">
					<img src="{{ pic.images.standard_resolution.url }}" class="img-responsive">
				</a>
			</div>
			<div class="row">
				<div class="col-md-6 col-md-offset-3">
					<p>
						<a class="nameLink" href="http://instagram.com/{{ pic.user.username }}"> 
							<img class="thumbnail pull-left" src="{{ pic.user.profile_picture }}">
						</a>
						<a class="nameLink" href="http://instagram.com/{{ pic.user.username }}"> 
							{{ pic.user.username }} 
						</a>
						{{ pic.caption.text }}
					</p>
				</div>
			</div>
		</div>
		<button class="btn btn-primary btn-block" ng-click="loadOldPosts()" 
						ng-hide="loadedAllPosts">
			load more posts
		</button>
	</div>
</body>
</html>